header {
	padding: 29px;
	margin: 0px;
	color: grey;
	background: white;
	text-align: right;
	font-family: sans-serif;
}

a {
    color: grey;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
	position: relative;
	height: 500px;
	background-color: lightgrey;
	border-bottom: solid #4aaaa5 3px;
	width: 100%;
}

section {
	position: relative;
	left: 30px;
	top: 15px;
	bottom: 0;
	width: 400px;
	height: 300px;
	margin-left: 130px;
	margin-bottom: 30px;
	text-align: left;
	background-color: white;
	padding: 15px;
}

footer {
	position: relative;
	padding: 30px;
	margin: 0px;
	color: white;
	background: grey;
	text-align: center;
	font-family: sans-serif;
}

#myname {
	position: absolute;
	padding: 20px;
	margin: 0px 0px 0px 155px;
	text-align: center;
	color: white;
	background: #4aaaa5;
}




